@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
  text-align: left;
  margin-left: 20px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-size:42px;
  text-align:center;
  
}
h3 {
  font-size: 32px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  margin-left: 500px;
}

.description {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 20px;
  border-right: 5px solid transparent;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(141, end) 1s 1 normal both, cursor 0.75s step-end infinite;
}

@keyframes cursor {
  50% {
    border-right-color: black;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(142ch);
  }
}

.img_icons {
  text-align: left;
  margin-left: 20px;
  font-size: 32px;
  margin-bottom: 20px;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

.information {
  margin-right: 50px;
  display: flex;
  width: 60%;
}

.language {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: grey;
  margin-left: 500px;
}

.project_description {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-right: 300px;
  margin-left: 500px;
}

.img_deg {
  margin-left: 150px;
  float: left;
}

